body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: steelblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
header {
  height: 170px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}
#scoreboard {
  margin-right: 10px;
}
.simpsonContainer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.simpson {
  border: 3px solid yellow;
  width: 280px;
  height: 350px;
  border-radius: 15px;
  font-size: 23px;
  font-family: "Galada";
  margin: 10px;
}
